sudo: false
language: python
cache:
  directories:
    - "$CARGO_HOME"
    - "$HOME/.pip/cache"

env:
  global:
    - RUSTC_WRAPPER="sccache"
    - CARGO_HOME="$HOME/.cargo"
    - SCCACHE_DIR="$CARGO_HOME/sccache"
    - PATH="$PATH:$CARGO_HOME/bin"
    - SODIUM_STATIC=true
    - SODIUM_LIB_DIR="$CARGO_HOME/lib"

stages:
  # - test
  - wheels

jobs:
  include:

    # Tests
    - stage: test
      python: 2.7
      before_install:
        - ci/travis/setup.sh
      install:
        - pip install -U setuptools setuptools-rust
      script:
        - python setup.py test
    - stage: test
      python: 3.5
      before_install:
        - ci/travis/setup.sh
      install:
        - pip install -U setuptools setuptools-rust
      script:
        - python setup.py test
    - stage: test
      python: 3.6
      before_install:
        - ci/travis/setup.sh
      install:
        - pip install -U setuptools setuptools-rust
      script:
        - python setup.py test

    # Wheels
    - stage: wheels
      os: linux
      sudo: required
      services:
        - docker
      env:
        - IMAGE=quay.io/pypa/manylinux1_x86_64
      install:
        - docker pull $IMAGE
      script:
        - docker run --rm -v `pwd`:/io $IMAGE /io/ci/travis/wheels-linux.sh
        - ls


# before_install:
# - ci/setup.sh
# - pip install -U setuptools setuptools-rust docutils Pygments
#
# install:
# - python setup.py build
# - pip install .
#
# script:
# - python setup.py test
#
# before_deploy:
# - python setup.py check -rms sdist

notifications:
  email:
  - althonosdev@gmail.com
